## Counting nan (not a number)

This is a demonstration of random population of nan in a dataset and then performing a count of said nan. See

https://stackoverflow.com/questions/21778118/counting-the-number-of-non-nan-elements-in-a-numpy-ndarray-in-python

for more info.

In [1]:
import numpy as np

In [2]:
!python --version

Python 3.7.5

## Initialize 2d array with 10000x10000 numbers

In [3]:
data = np.random.random((10000,10000)); data

array([[0.52052853, 0.23025444, 0.98855544, ..., 0.43705781, 0.90709756,
        0.32384251],
       [0.64542102, 0.55123971, 0.11046161, ..., 0.91879643, 0.91022165,
        0.64208978],
       [0.90779322, 0.84735328, 0.00779107, ..., 0.79378849, 0.60685119,
        0.51201369],
       ...,
       [0.39233851, 0.39447722, 0.08721631, ..., 0.82077491, 0.3647375 ,
        0.61085127],
       [0.45710938, 0.31239756, 0.14966599, ..., 0.95685511, 0.69042876,
        0.63675743],
       [0.50833318, 0.43641674, 0.76418911, ..., 0.50891845, 0.29457885,
        0.43071857]])

In [4]:
data.shape

(10000, 10000)

## Random selection of 100 indicies

In [5]:
random_rows = [np.random.randint(0,10000,100)]
random_columns = [np.random.randint(0,10000,100)]
random_rows, random_columns

([array([5335, 4364, 1618,  288, 3454, 1651, 9785, 7185,  545, 4447, 9150,
         6104,  164, 1961, 3943, 3072, 5182, 1266,  115, 3531, 5988, 9260,
         3991, 1580,  773, 5793,  494, 8039, 3536, 9836, 7401,  860, 5532,
         7046, 1176, 4981, 5804, 7657, 9446, 9457, 4556, 9485, 2646, 1453,
         2243, 9308, 4237, 5363, 5346, 6526, 7473, 5105, 3430, 5926, 3732,
         9494, 5921, 8226, 3753, 6628, 7786, 7786, 5875, 1414, 7902, 4959,
         7753, 9897, 5557, 1484,  562, 6866, 8390, 1032, 9192, 6547, 1209,
         7799, 2423, 5371, 1863, 3474, 8561, 4196,  165, 5508,  863, 6775,
         5947, 6609, 4360, 9862, 1223, 4666, 7721, 7415, 3768,  550, 1696,
         1807])],
 [array([3993, 8146, 6338, 1582, 3739, 1666, 1686, 2286, 9809, 4152,  704,
         4928, 8254, 4073,  480, 3126, 4872, 8607, 3025, 8209, 8622,  640,
         2429, 9999, 8995, 2609, 4031, 3052, 7537, 7281, 9353, 6485, 2611,
         1832, 6280,  967, 2377, 1992, 2463, 8175,  770, 3227, 6249, 2037,
         4205, 5701, 9759, 1635, 4836, 5038, 3258, 8277, 4948, 7406, 4661,
          277, 7294, 8047, 8593, 6158, 8847, 6820, 9091, 5726, 7607,  382,
         5317, 9059, 3964, 4329, 1626, 2357, 5056, 5121, 2433, 1458, 4718,
          466, 1251, 9119, 8807,  307, 6477, 7166, 2619, 9327, 9743, 9405,
         5067, 4513, 3369, 2084, 1981, 4920,  444, 9968, 1493,  811, 8864,
         2696])])

## Replace randomly selected indices with np.nan

In [6]:
data[random_rows, random_columns] = np.nan

Count NaNs.

In [7]:
np.count_nonzero(np.isnan(data))

100

Alternatively, count the inverse (non-nan).

In [8]:
np.count_nonzero(~np.isnan(data))

99999900