# Pandas - Add Columns Based on Existing Columns

## Imports

In [3]:
import numpy as np
import pandas as pd
import datetime

## Create Sample Dataframe

In [20]:
start = datetime.datetime(2020, 1, 1)
end = datetime.datetime(2020, 12, 31)
dates = pd.date_range(start, end)
dates, len(dates)

(DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
                '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
                '2020-01-09', '2020-01-10',
                ...
                '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
                '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
                '2020-12-30', '2020-12-31'],
               dtype='datetime64[ns]', length=366, freq='D'), 366)

In [21]:
l = list(range(len(dates)))
df = pd.DataFrame(dates)
df.columns = ["date"]
df

          date
0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
..         ...
361 2020-12-27
362 2020-12-28
363 2020-12-29
364 2020-12-30
365 2020-12-31

[366 rows x 1 columns]

## Add columns based on date

After we have it in dataframe format, we can do all sorts of stuff with the data, like adding additional columns based on our original datetime objects.

### Approach One: Lambda

Converting `datetime` to `date` is as simple as calling `.date()` on the `datetime` instance.

In [23]:
df["date"][0], df["date"][0].dayofweek

(Timestamp('2020-01-01 00:00:00'), 2)

We can use the lambda operator to convert to day of the week.

In [24]:
df['dayofweek'] = df.apply(lambda row: row["date"].dayofweek, axis = 1); df

          date  dayofweek
0   2020-01-01          2
1   2020-01-02          3
2   2020-01-03          4
3   2020-01-04          5
4   2020-01-05          6
..         ...        ...
361 2020-12-27          6
362 2020-12-28          0
363 2020-12-29          1
364 2020-12-30          2
365 2020-12-31          3

[366 rows x 2 columns]

### Add 'datetime_to_int' column based on type conversion

In [25]:
df['date_to_int'] = df['date'].astype(int); df

          date  dayofweek          date_to_int
0   2020-01-01          2  1577836800000000000
1   2020-01-02          3  1577923200000000000
2   2020-01-03          4  1578009600000000000
3   2020-01-04          5  1578096000000000000
4   2020-01-05          6  1578182400000000000
..         ...        ...                  ...
361 2020-12-27          6  1609027200000000000
362 2020-12-28          0  1609113600000000000
363 2020-12-29          1  1609200000000000000
364 2020-12-30          2  1609286400000000000
365 2020-12-31          3  1609372800000000000

[366 rows x 3 columns]